* {

    padding: 0%;
    margin: 0%;

    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}

:root {

    --bg-color-E4F0F1 : #E4F0F1;
    --bg-color-152629 : #152629;
}

/* HELPER CLASSES */

.horizontalLineFull {

    border: 2px solid var( --bg-color-152629 );
    width: 100%;

}

.logo {

    background-image: url(/public/images/assets/Logo.svg);
    width: 160px;
    height: 70px;

}

/* HELPER CLASSES */

.landingPage {

    width: 100%;
    min-height: 100vh;

    background-color: var( --bg-color-E4F0F1 );



}

.navigationContainerTop {

    height: 10vh;
    width: 100%;

}

.navigationBarTop {

    height: 100%;
    width: 80%;
    margin: 0% auto;

}

.navigationLogo {

    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
