* {

    padding: 0%;
    margin: 0%;

    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}

:root {

    --bg-color-E4F0F1 : #E4F0F1;
    --bg-color-152629 : #152629;
    --bg-color-F1F7F8 : #F1F7F8;
}

/* HELPER CLASSES */

.horizontalLineFull {

    border: 2px solid var( --bg-color-152629 );
    width: 100%;

}

.logo {

    background-image: url(/public/images/assets/Logo.svg);
    width: 160px;
    height: 70px;

}

/* HELPER CLASSES */

.landingPage {

    width: 100%;
    min-height: 100vh;

    background-color: var( --bg-color-E4F0F1 );



}

.navigationContainerTop {

    height: 10vh;
    width: 100%;

}

.navigationBarTop {

    height: 100%;
    width: 80%;
    margin: 0% auto;
    padding: 0% 20px;
    display: flex;

}

.navigationLogo, .navigationLinks, .navigationUser {

    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;

}

.navigationLogo {

    justify-content: flex-start;
    

}

.navigationLinks {

    justify-content: center;


}

.navigationUser {

    justify-content: flex-end;

}

.navigationLink {

    font-size: 20px;
    text-decoration: none;
    color: var( --bg-color-152629 );
    margin: 0px 10px;

}

.signupButton, .loginButton {

    font-size: 20px;
    text-decoration: none;
    margin-left: 30px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.signupButton {

    color: var( --bg-color-152629 );
    background-color: var( --bg-color-E4F0F1 );

    border-radius: 20px;

    transition: all 0.3s ease-in;

}

.signupButton:hover {

    background-color: var( --bg-color-152629 );
    color: var( --bg-color-F1F7F8 );

    transition: all 0.4s ease-out;

}

.loginButton {
    color: var( --bg-color-F1F7F8 );
    border-radius: 40px;
    background: linear-gradient(90deg, #9a901d 0%, #9d1b46 100%);
    box-shadow: 8px 8px 8px rgba(0,0,0,0.4);

    transition: border-radius 0.3s ease-in;
}

.loginButton:hover {

    border-radius: 0px;
    transition: border-radius 0.3s ease-out;

}